@media print {
      @page {
        size: A4 portrait;
        margin: 20px;
      }

      header {
        display: none;
      }

      body, .page {
        background-color: transparent;
      }

      .page p {
        column-count: 1;
      }

      .mypage header {
        page-break-before: always;
        display: block;
      }

      .page div:last-child {
        display: block;
      }

      nav, aside {
        display: block;
        position: fixed;
      }

      aside { top: 0; }
      nav { bottom: 0; }
    }
