body
{
    margin:0 auto;
    padding:0;
}

:root
{
    --bg:red;
    --bg1:green;
    --bg2:orange;
    --bg3:blue;
}
.webpage
{
    width:1200px;
    height: auto;
    display: grid;
    grid-template-columns:200px 1000px;
    grid-template-rows: 80px 600px 80px auto;
    margin:0 auto;
    padding:0;
}
.webpage section
{
    /* border:1px solid red; */
    padding:10px;
    margin:10px;
}
.webpage section:nth-child(1),.webpage section:nth-child(4)
{
    grid-column-start: 1;
    grid-column-end: 3;
}
.page
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:greenyellow;
}
.page div
{
    /* border:1px solid blue; */
    padding:10px;
}
.page div:last-child
{
    display: flex;
}
.page div:last-child header
{
    flex:1;
    /* border:1px solid red; */
    padding:10px;
}
.page img
{
    width: 100%;
   
}
.page p
{
    font-size: 20px;
    column-count: 4;
    text-align: justify;
}
@media only screen and (max-width: 599px) {
    body {
        background-color: #e0f7fa; /* Light blue */
    }

    header, footer {
        font-size: 14px;
        padding: 10px;
    }

    .container {
        width: 100%;
    }
}

/* Tablets (600px - 1023px) */
@media only screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        background-color: #fff3e0; /* Light orange */
    }

    header, footer {
        font-size: 16px;
        padding: 12px;
    }

    .container {
        width: 95%;
    }
}

/* Laptops/Desktops (1024px and above) */
@media only screen and (min-width: 1024px) {
    body {
        background-color: #f5f5f5;
    }

    header, footer {
        font-size: 18px;
        padding: 15px;
    }

    .container {
        width: 80%;
    }
}
